.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding-bottom: 52px;
}

.modal__label {
  padding-bottom: 24px;
}

.modal__close_type_form {
  position: absolute;
  justify-content: center;
  top: 20px;
  right: 28px;
}

.modal__content_type_form {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  border-radius: 16px;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  width: 100%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
