.card__block {
  display: flex;
  margin: 0;
  padding: 99px 0 0 0;
  gap: 18px;
  flex-wrap: wrap;
  list-style-type: none;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
}

.card__text {
  position: absolute;
  margin: 0;
  padding-top: 40px;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
}

.card {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
